body {
    font-family: Arial, sans-serif;
    text-align: center;
	background-color: #1A4C1E;
	margin-top: 5%;
}

h1 {
    color: #cdcdcd;
}

p{
	color:#ffffff;
	margin-top:2%;
	margin-bottom:2%;
}

#word-display {
    font-size: 24px;
    letter-spacing: 5px;
}

#win {
    font-size: 36px;
    color: rgb(127, 127, 255);
}

#lose {
    font-size: 36px;
    color: red;
}

input {
    font-size: 16px;
    text-align: center;
}

img{margin-bottom:10px;}
